{% extends 'base.html.twig' %}

{% set titleString = 'Contenders ' ~ seasonName %}

{% block title %}{{titleString}}{% endblock %}

{% block body %}
<h2>{{titleString}}</h2>

<div id="SeasonContenders">
    <section>
        <h3>Ranking</h3>
        <div class="rank-container">
            <div class="rank-row">
                <span class="tag">Player</span>
                <span class="avg-score">Average Placing Score</span>
                <span class="regional">Regional Count</span>
                <span class="total">Total Count</span>
            </div>
            {% for data in contenders %}
            <div class="rank-row">
                <span class="tag">{{data.tag}}</span>
                <span class="avg-score">{{data.avg}}</span>
                <span class="regional">{{data.regionalCount}}</span>
                <span class="total">{{data.eventCount}}</span>
            </div>
            {% endfor %}
        </div>
        </form>
    </section>
</div>
{% endblock %}