<section id="{{title}}">
    <h2>{{title}} Export</h2>
    <div class="result-container">
        {% for result in results %}
        <span class="{{result.tier}} tier-container">[{{result.tier}}]
            {% for opponent in result.headToHeads %}
            x{{opponent.count}} {{opponent.name}},
            {% endfor %}
        </span>
        {% endfor %}
    </div>
</section>