{% extends 'base.html.twig' %}

{% set titleString = seasonName ~ ': Wins/Losses for ' ~ playerTag %}

{% block title %}{{titleString}}{% endblock %}

{% block body %}
<h2>{{titleString}}</h2>

<div id="WinsLosses">
    {{ include("ranking/winsLosses_container.html.twig",
    {'title': 'Wins', 'results': wins}) }}
    {{ include("ranking/winsLosses_container.html.twig",
    {'title': 'Losses', 'results': losses}) }}

    {{ include("ranking/winsLosses_export.html.twig",
    {'title': 'Wins', 'results': wins}) }}
    {{ include("ranking/winsLosses_export.html.twig",
    {'title': 'Losses', 'results': losses}) }}

    <section id="Placements">
        <h2>Placements Export</h2>
        <div class="result-container">
            {% for placingContainer in placings %}
            <span class="{{placingContainer.tier}} tier-container">[{{placingContainer.tier}}]
                {% for placement in placingContainer.placements %}
                <span>{{placement.placement}}</span>
                <span>-</span>
                <span>{{placement.name}}</span>
                <span>({{placement.score}})</span>
                <span>,</span>
                {% endfor %}
            </span>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}