{% extends 'base.html.twig' %}

{% set titleString = seasonName ~ ': Wins/Losses for ' ~ playerTag %}

{% block title %}{{titleString}}{% endblock %}

{% block body %}
<h2>{{titleString}}</h2>

<div id="WinsLosses">
    {{ include("ranking/winsLosses_container.html.twig",
    {'title': 'Wins', 'results': wins}) }}
    {{ include("ranking/winsLosses_container.html.twig",
    {'title': 'Losses', 'results': losses}) }}

    {{ include("ranking/winsLosses_export.html.twig",
    {'title': 'Wins', 'results': wins}) }}
    {{ include("ranking/winsLosses_export.html.twig",
    {'title': 'Losses', 'results': losses}) }}
</div>
{% endblock %}