{% extends 'base.html.twig' %}

{% set titleString = seasonName ~ ': Wins/Losses for ' ~ playerTag %}

{% block title %}{{titleString}}{% endblock %}

{% block body %}
<h2>{{titleString}}</h2>

<div id="WinsLosses">
    <section id="Wins">
        <h2>Wins</h2>
        <div class="result-container">
            {% for result in wins %}
            <h2>{{result.tier}}</h3>
                {% for opponent in result.headToHeads %}
                <div class="opponent-container">
                    <span class="count">x{{opponent.count}}</span>
                    <span class="tag">{{opponent.name}}</span>
                </div>
                {% endfor %}
                {% endfor %}
        </div>
    </section>

    <section id="Losses">
        <h2>Losses</h2>
        <div class="result-container">
            {% for result in losses %}
            <h2>{{result.tier}}</h3>
                {% for opponent in result.headToHeads %}
                <div class="opponent-container">
                    <span class="count">x{{opponent.count}}</span>
                    <span class="tag">{{opponent.name}}</span>
                </div>
                {% endfor %}
                {% endfor %}
        </div>
    </section>
</div>
{% endblock %}