{% extends 'base.html.twig' %}

{% block title %}Player Tournaments{% endblock %}

{% block body %}
    <h2>Import sets for {{ playerName }}</h2>

    <form class="d-grid" action="{{action}}" method="post">
        <input type="hidden" name="playerId" value="{{playerId}}">
        <div>
            {% for eventData in eventInfos %}
            <h3 class="d-flex-row">
                <label for="eventIds_{{ eventData.eventId }}">{{ eventData.tournamentName }} {{ eventData.eventName }}</label>
                <input type="checkbox" id="eventIds_{{ eventData.eventId }}" name="eventIds[]" value="{{ eventData.eventId }}">
            </h3>
            <div class="set-container">
                {% for sets in eventData.sets %}
                <div>{{sets.displayScore}}</div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    <button type="submit" id="go" name="go">Import Sets</button>
    </form>
{% endblock %}