<h3>{{addTitle}}</h3>
{{form(addForm, {'attr': {'class': 'add-form'}})}}

<h3>{{editTitle}}</h3>
{% for data in existingData %}
<div class="data">
    {{form(data.editForm, {'attr': {'class': 'edit-form'}})}}
    <div class="references">
        {% for linkData in data.links %}
        <a href="{{linkData.url}}">{{linkData.text}}</a>
        {% endfor %}
    </div>
</div>
{% endfor %}